<h1>ご注文ありがとうございました</h1>

<h2>こちらの商品が毎月届きます。</h2>

<p>画像</p>
<% @select.item.image %>
<p>商品名</p>
<% @select.item.name %>
<p>商品説明</p>
<% @select.item.caption %>


<h2>お届け先情報</h2>
<p>郵便番号</p>
<% @user.zip_code %>
<p>住所</p>
<% @user.home_address %>
