<div class="main-about">
	<div class="container-fluid">
		<div class="row">
			<h1 style="line-height: 5em">- Service -</h1>
			<p class="about-text-1" style="line-height: 2em">こちらは無償で毎月Paper（紙）がもらえるサービスです。</p>
			<p class="about-text-2">毎月商品を１つ選ぶことができます。</p>
			<p class="about-text-3">Paper（紙）の商品は多種多様</p>
			<p class="about-text-4">トイレットペーパーや、模造紙、紙袋まで</p>
			<p class="about-text-5">多く取り揃えています。</p>
			<p class="about-text-6">登録して頂く住所に配送させていただきますので、</p>
			<p class="about-text-7">お間違えのないようにお気をつけください</p>
		</div>
	</div>
</div>
