<div class="main-about">
	<div class="container-fluid">
		<div class="row">
			<h1 style="line-height: 5em">- Service -</h1>
			<p class="about-text-1" style="line-height: 2em">こちらは無償で毎月Paper（紙）の商品がもらえるサービスです。</p>
			<p class="about-text-2">毎月商品を１つ選ぶことができます。</p>
			<p class="about-text-3">Paper（紙）の商品は多種多様</p>
			<p class="about-text-4">トイレットペーパーや、模造紙、紙袋まで</p>
			<p class="about-text-5">多く取り揃えています。</p>
			<p class="about-text-6">すべて再生紙を利用しているので</p>
			<p class="about-text-7">環境に優しい製品をお届けしています。</p>
		</div>
	</div>
</div>

<div class="main-about">
	<div class="container-fluid">
		<div class="row">
			<h1 style="line-height: 5em">- About Us -</h1>
			<div class="col-md-4">
				<p class="AboutUs-caption">環境保護活動</p>
				<img src="">
				<p style="line-height: 2em">Paperは地球を守りたい。
				<br>Paperは単に自らの節約に努めるだけでなく、
				<br>地球環境の限界をふまえた上で
				<br>社会や人々の夢の実現に貢献することが、
				<br>地球市民としての使命であると考えます。</p>
			</div>
			<div class="col-md-4">
				<p class="AboutUs-caption">途上国への教育支援</p>
				<img src="">
				<p style="line-height: 2em">発展途上国の子どもたちが教育を受ける
				<br>環境作りのために、金銭的な支援だけでなく、
				<br>村との「共存・共栄」を心がけて
				<br>学校建設の支援を行っています。
				<br>Paperは子どもたちへの教育を通じ、
				<br>将来的に地域の発展・向上を目指しています。</p>
			</div>
			<div class="col-md-4">
				<p class="AboutUs-caption">書道普及の活動</p>
				<img src="">
				<p style="line-height: 2em">「Paper（かみ）への感謝の気持ち」
				<br>「正しい美しい愛の習字」を
				<br>次の世代へ伝承する書道教育
				<br>並びに書道文化の振興、国際交流を促進する
				<br>日本文化の発展を目的として活動しています。</p>
			</div>
		</div>
	</div>
</div>

<div class="main-about">
	<div class="container-fluid">
		<div class="row">
			<h1 style="line-height: 5em">- Company -</h1>
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<table>
				  <tr>
				    <th>会社名</th>
				    <td>Paper株式会社</td>
				  </tr>
				  <tr>
				    <th>創業</th>
				    <td>1940年</td>
				  </tr>
				  <tr>
				    <th>資本金</th>
				    <td>300,0000円</td>
				  </tr>
				  <tr>
				    <th>従業員数</th>
				    <td>500人</td>
				  </tr>
				  <tr>
				    <th>電話番号</th>
				    <td>0120-828-828</td>
				  </tr>
				  <tr>
				    <th>事業内容</th>
				    <td>紙製品の製造・販売　/ 教育支援事業　/ 広告代理事業</td>
				  </tr>
				</table>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>


