/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sign_button {
  display: inline-block;
  cursor: pointer;
  border: 2px solid black;
  padding: 5px;
  opacity: .6;
  transition: .3s;
}

.button:hover {
  opacity: 1;
}

.sign_up_button {
  margin-right: 30px;
}

.sign_modal_wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: .7;
  display: none;
}

.sign_modal {
  position: absolute;
  background-color: #fff;
  width: 450px;
  height: 370px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 100px auto 0;
  border: 1px solid #eee;
  display: none;
  text-align: right;
}

.sign_modal_content {
  display: none;
  text-align: center;
}

.fa_wrapper {
  cursor: pointer;
  margin: 3px 3px 0 0;
}

.main{
  width:70%;
  margin: 0 auto;
}

.main-top{
  width:70%;
  margin: 0 auto;
  text-align: center;
}

.main-about{
  width:70%;
  margin: 0 auto;
  text-align: center;
}

h1{
  font-family: 'Iowan Old Style','Arial Rounded MT Bold',sans-serif;
  text-align: center;
}

.top-text-1,
.top-text-2,
.top-text-3,
.top-text-4,
.top-text-5,
.top-text-6,
.top-text-7,
.top-text-8,
.top-text-9,
.top-text-10
{
  display: none;
  font-size: 25px;
}

.about-text-1,
.about-text-2,
.about-text-3,
.about-text-4,
.about-text-5,
.about-text-6,
.about-text-7
{
  display: none;
  font-size: 25px;
}

.item-announce{
  text-align: center;
}
footer {
  width: 100%;
  height: 120px;
}
